
APP_ENV=production
APP_DEBUG=false
APP_URL=https://pterodactyl-smaver.onrender.com

APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=dpg-d0i4s6umcj7s739n1ph0-a.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=pterodactyl_sko4
DB_USERNAME=pterodactyl_sko4_user
DB_PASSWORD=258cDaIKWZNdUpfih6fELrGrCrQbt7p8

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=sakinlolu26@gmail.com
MAIL_PASSWORD=1234,,,,mmmm
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=sakinlolu26@gmail.com
MAIL_FROM_NAME="Pterodactyl Panel"
MAIL_EHLO_DOMAIN=pterodactyl.onrender.com

HASHIDS_SALT=ChangeThisSalt
APP_KEY=ChangeThisKeyLater
